# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\maven testing\New folder\Struts2Jsp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
